body{
    margin: 0;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    color: #1ed760;
}

nav{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
}

.nav-menu{
    width: 543.57px;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    padding: 28px 17px;
    font-weight: 700;
    color: white;
}

main{
    height: 968px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
}

.headline{
    position: relative;
    left: 225px;
    padding-bottom: 40px;
    line-height: 166px;
    font-size: 146px;
    color: #1ed760;
    font-weight: 900;
}

.headline-first{
    position: relative;
    left: -2.5em;
}

.sub-headline{
    padding-bottom: 40px;
    line-height: 24px;
    color: #1ed760;
    font-size: 18px;
    text-align: center;
}

.btn-area{
    display: flex;
    justify-content: center;
}

.btn-main{
    padding: 14px 32px;
    background-color: #1ed760;
    border: none;
    border-radius: 500px;
    color: #2941ab;
    font-size: inherit;
    font-weight: 700;
    text-align: center;
}

.btn-main:hover{
    transform: scale(1.07);
    background-color: #2de26d;
}

footer{
    display: flex;
    justify-content: center;
    height: 530px;
    background: black;
}

.footer-container{
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.first-box{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.second-box{
    display: flex;
}

.footer-menu-column{
    display: flex;
    flex-flow: column;
    padding: 0 15px;
}

.menu-title{
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
}

.footer-menu-item{
    padding-bottom: 15px;
    padding-top: 3px;
    font-size: 16px;
    color: white;
}

.icon-box{
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 24px;
}

.icon:hover{
    color: #2de26d;
}

.first-line {
    display: flex;
    justify-content: end;
    font-size: 12px;
    color: #919496;
}

.second-line{
    margin-top: 12px;
    margin-bottom: 9px;
    display: flex;
    justify-content: space-between;
    color: #919496;
}

.second-line-item{
    margin-right: 24px;
    color: #919496;
}